*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  margin: 0;
}

button {
  display: block;
  border: none;
  padding: 0;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
